.image {
    transition: 0.2s;
    border-radius: 0.3rem;
    @media (prefers-reduced-motion: no-preference) {
        &:hover {
            cursor: zoom-in !important;
            transform: translateY(-0.5rem) scale(1.03);
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        }
    }
    img {
        border-radius: 0.3rem;
    }
}
